<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>


<h3> This is where the page with a link to profile, browse games, and view friends will be </h3>

<div class="sign-out-button">
<%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "button", data: { confirm: 'Are you sure you want to sign out?' } %>
</div>

</div>
