.profile-head{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-profile-icon{
  background-color: #000d9a;
  color: #fff;
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 3.9rem;
  font-weight: 400;
}

.profile-text{
  font-size: 3.9rem;
  color: #000ba0;
  font-weight: 600;
}

.logout {
  font-size: 1.5em;
  color: #0066cc;
  text-decoration: none;
  margin-left: 1rem;
}

.logout:hover {
  text-decoration: underline;
}

.right-profile-head{
  margin-left: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-line{
  font-size: 1.3em;
  color: #000ba0;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  margin: 0.3rem;
  width: 50%;
}

.new-rating-submit-button {
  display: block;
  margin: 32px auto -7px auto;
  padding: 12px;
  width: 201px;
  height: 48px; /* Increased height to prevent cutoff */
  background-color: #3b82f6; /* bg-blue-500 */
  color: #ffffff; /* text-white */
  font-weight: bold; /* font-bold */
  border: none; /* Remove border */
  border-radius: 0.5rem; /* rounded-lg */
  transition: background-color 0.3s ease-in-out; /* transition duration-300 ease-in-out */
}

.new-rating-submit-button:hover {
  background-color: #1d4ed8; /* hover:bg-blue-700 */
}